/* Paleta de cores: https://paletadecores.com/paleta/063940/195e63/3e838c/8ebdb6/ece1c3/ */

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
}

body {
    background-color: #ece1c3;
    overflow-x: hidden;
}

/* CSS header */

header {
    align-items: center;
}

.fieldheader {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
    background: #8ebdb6;
    height: 20vh;
    width: 100vw;
    border: 0;
}

.logo {
    width: 5vw;
    float: left;
    margin-left: -2vw;
}

.botaoinicio {
    text-decoration: none;
    color: black;
}

h1 {
    float: inline-start;
    font-size: 2vw;
}

.busca {
    float: right;
}

#buscar {
    width: 50vw;
    height: 5vh;
    border-radius: 2vw;
    text-align: center;
}

.botaocarrinho {
    border: 0;
    background-color: #8ebdb6;
    cursor: pointer;
}

.iconecarrinho {
    width: 4vw;
    float: right;
}

.botaologin {
    width: 10vw;
    height: 5vh;
    background-color: #3e838c;
    border: 0;
    cursor: pointer;
    border-radius: 20vw;
    color: #ece1c3;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    text-decoration: underline;
}

/* CSS Footer */

footer {
    align-items: center;
    grid-template-rows: auto 1fr auto; /* Cabeçalho, Conteúdo, Rodapé */
    bottom: 0;
    margin: 0;
}

.fieldfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #8ebdb6;
    height: 10vh;
    width: 100vw;
    border: 0;
    bottom: 0;
}

.fieldfooter p {
    margin-left: 1vw;
}

.botaofooter {
    width: 20vw;
    font-size: 1.3vw;
    background: #8ebdb6;
    border: 0;
    cursor: pointer;
}

#paraavaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}

/* CSS Menu */

.categorias {
    width: 100vw;
    justify-content: center;
    background: #3e838c;
}


.botaocategoria {
    margin-left: 2vw;
    width: 17vw;
    padding: 1.5vw;
    border: 0;
    background-color: #3e838c;
    cursor: pointer;
}

.botaocategoria:active {
    opacity: 0.7;
    background-color: #c8e6e1;
}

.anuncios {
    margin-left: 3vw;
    margin-top: 2vw;
}

.botaoanuncios {
    margin: 0;
    border: 0;
    cursor: pointer;
    color: black;
}

.fieldanuncio {
    display: inline;
    margin: 1vw;
    width: 5vw;
    text-align: center;
    background: white;
}

.imagensanuncios {
    width: 15vw;
    height: 20vh;
}

/* CSS Login */

.divmeio {
    height: 63vh;
}

.fieldlogin {
    margin: 5vw 35vw;
    width: 18vw;
    padding: 2vw;
    height: 40vh;
    text-align: center;
}

.fieldlogin input{
    margin: 1vw;
}

.fieldlogin h2 {
    margin-bottom: 2vw;
    font-size: 1.5vw;
}

#escolhercadastro {
    margin: 1vw;
}

.botao {
    background-color: #8ebdb6;
    width: 5vw;
    height: 4vh;
    cursor: pointer;
}


/* CSS Cadastro */


.fieldcadastro {
    margin: 3.5vw 36vw;
    width: 23vw;
    padding: 2vw;
    height: 60vh;
    text-align: center;
}

.fieldcadastro button{
    width: 7vw;
}

#escolherlogin {
    margin: 1vw;
}

.fieldcadastro input{
    margin: 1vw;
}

.fieldcadastro h2 {
    margin-bottom: 2vw;
    font-size: 1.5vw;
}

/* CSS Carrinho */

.produtoscarrinho {
    float: left;
    width: 40vw;
    height: 90vh;
    margin: 1vw;
    margin-bottom: 35vh;
}

.produtoscarrinho fieldset {
    display: flex;
    justify-items: center;
    width: 0;
    padding: 1vw;
    margin: 2vw;
}

#titulocarrinho {
    margin: 2vw;
}

.textoproduto {
    display: block;
    width: 20vw;
}

.textoproduto h2, .textoproduto p {
    padding: 1vw;
}

.imagemcarrinho {
    float: right;
    width: 10vw;
    margin-left: 10vw;
}

.telacarrinho {
    float: right;
    width: 35vw;
    margin: 5vw;
    height: 80vh;
}

#titulotelacarrinho {
    background-color: #8ebdb6;
    justify-items: center;
}

.textocarrinho {
    display: inline;
    padding: 2vw;
    margin-bottom: 2vw;
}

.precocarrinho {
    float: right;
    margin-right: 1vw;
}

#cep {
    display: flex;
    margin: 2vw;
    border: 0.1vw solid #000000;
}

#cep p {
    display: inline;
    padding: 1vw;
}

#cep input[type="submit"] {
    float: right;
    margin-left: 8vw;
    border: 0;
    border-radius: 20vw;
    background: #ece1c3;
    cursor: pointer;
}

#finalizarcompra input[type="submit"] {
    margin: 10vw;
    width: 15vw;
    height: 10vh;
    border-radius: 20vw;
    background: #3e838c;
    cursor: pointer;
}

/* CSS Avaliações */

.avaliacoes {
    height: 70vh;
}

#produtoavaliacoes {
    float: left;
}

.avaliacoes h2 {
    padding: 2vw;
}

#xisavaliacao {
    width: 40vw;
    margin-left: 5vw;
    display: flex;
}

#xisavaliacao strong {
    margin: 2vw;
}

#telaavaliacoes {
    float: right;
    margin: 5vw;
    width: 30vw;
    margin-right: 10vw;
}

#telaavaliacao {
    padding: 2vw;
}

#gostou p {
    display: inline;
    padding: 2vw;
}

#imagemavaliacao {
    width: 5vw;
}

#formavaliacao {
    margin-top: 1vw;
    padding: 1vw;
}

#comentarios {
    width: 25vw;
    height: 20vh;
    border-radius: 2vw;
    padding: 1vw;
}


/* CSS PRODUTO */

.produtoimagem {
    margin: 2vw;
    width: 20vw;
    height: 20vw;
    display: block;
    padding: 1vw;
    border-radius: 2vw;
}

.fieldproduto {
    width: 80vw;
    height: 80vh;
    display: flex;
    margin: 3.5vw auto;
    padding: 2vw;
    border-color:#3e838c;
    border-radius: 2vw;
    gap: 2vw;
}

.fieldtextoproduto {
    margin: 2vw;
    display: inline;
    text-align: left;
    width: 20vw;
    height: 35vw;
    font-size: 10vw;;
    border-radius: 2vw;
}
.textoproduto {
    margin: 1.2vw;
}
.descricao {
    font-size:1vw;
}

.fieldavaliacoes {
    margin: 2vw;
    display: inline;
    width: 25vw;
    height: 35vw;
    border-radius: 2vw;
}

.iconepagamento {
    width: 2.8vw;
    height: 1.7vw;
    margin: 0.2vw;
}

.legenda {
    text-align: center;
}

.iconecliente {
    display: inline;
    width: 3vw;
    height: 2.3vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 0.3vw;
    padding: 0;
}
.estrelas-5 {
    width: 9vw;
    height: 1.1vw;
    padding: 0;
    margin-left: 1vw;
}
.estrelas-4 {
    width: 7vw;
    height: 1.1vw;
    padding: 0;
    margin-left: 1vw;
}
.nota{
    display: inline;
    font-size: 1vw;
    margin-left: 2vw;
}

.data {
    font-size:0.8vw;
    display: inline;
}

.comentario {
    font-size: 1vw;
    margin-left: 2vw;
}

.botaocolocarcarrinho {
    width: 15vw;
    height: 5vh;
    background-color: #3e838c;
    border: 0;
    cursor: pointer;
    border-radius: 20vw;
    color: #ece1c3;

}

.imagemebotao {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 1vw;
}

#quantidade {
    text-align: center;    
    border-radius: 2vw;
}